<?xml version="1.0"?>
<?define UpgradeCode= "e48f7043-22ae-44f7-a302-e912202db8d3" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Fastly Agent AutoUpdate" Language="1033" Manufacturer="Fastly" Version="$(var.VERSION)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id="*" Description="Fastly Agent AutoUpdate" InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id='1' Cabinet='AgentAutoUpdate.cab' EmbedCab='yes' DiskPrompt="CD-ROM #1" />
    <Property Id='DiskPrompt' Value="Agent Auto Update Installation [1]" />

    <Feature Id="MainFeature" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <Icon Id="sigsci.icon" SourceFile="$(var.iconPath)" />
    <Property Id="ARPPRODUCTICON" Value="sigsci.icon" />
    <!-- <Property Id="MSIUSEREALADMINDETECTION" Value="1" /> -->
    <!-- <Property Id="ARPNOMODIFY" Value="1" /> -->

    <!-- Set INSTALLDIR from previous install if available -->
    <Property Id="INSTALLDIR">
      <RegistrySearch Id="FindInstallLocation"
        Root="HKLM"
        Key="Software\Microsoft\Windows\CurrentVersion\Uninstall\[WIX_UPGRADE_DETECTED]"
        Name="InstallLocation"
        Type="raw"
        Win64="yes" />
    </Property>


    <!-- Record the install dir in the registry based on the dynamic INSTALLDIR property -->
    <CustomAction Property="ARPINSTALLLOCATION" Id="SetARPINSTALLLOCATION" Value="[INSTALLDIR]" Impersonate="yes" />

  </Product>

  <Fragment>
    
    <Directory Id="TARGETDIR" Name="SourceDir">
        <Directory Id="ProgramFiles64Folder">
            <Directory Id="Sigsci" Name='Signal Sciences'>
                <Directory Id="INSTALLFOLDER" Name="AgentAutoUpdate" />
                </Directory>
        </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
        <Component Id='MainExecutable' Guid='5fe9a39e-37b2-4b00-9075-b46ec5e2aa4d' Win64='yes'>
            <File Id='AgentAutoUpdateEXE'
                Name='agent-autoupdate.exe'
                Source="$(var.appPath)"
                KeyPath='yes'
            />
        </Component>
    </ComponentGroup>

  </Fragment>
</Wix>
